@import "tailwindcss";

body.dark {
  background: linear-gradient(135deg, #0f172a 0%, #581c87 50%, #0f172a 100%);
  background-attachment: fixed;
  color: #ffffff;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}
